<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Dojo Secret</title>
    @using DojoSecret.Models
    @model DashboardModel
    @using System.Linq
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <span class="navbar-brand">DojoSecrets</span>
        <h3>Most Popular Secrets!</h3>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class='nav-link' href="/logout">Logout</a>
            </li>
            <li class ="nav-item">
                <a class="nav-link" href="Dashboard">Back</a>
            </li>
        </ul>
    </nav><br>
    <h1>Welcome, @ViewBag.User.First_Name @ViewBag.User.Last_Name!</h1>
    <table>
        @foreach (var i in ViewBag.Messages)
        {
            <tr>
                <td>@i.Content - (@i.Created_At.ToString("MMMM dd, yyyy, h:mm tt")) @i.likes.Count likes &nbsp; 
                    @if (@ViewBag.User.Id == @i.CreatorId)
                    {
                    <b>You posted this! &nbsp;</b> <a href="DeleteMost/@i.Id">Delete</a>
                    }
                    else
                    {
                        int Count = 0;
                        @foreach(var liker in @i.likes)
                        {
                            @if(@liker.Promoter == @ViewBag.User)
                            {
                                Count = 1;
                            }
                        }
                        if (Count == 1)
                        {
                            <b>You Liked this!</b>
                        }
                        else
                        {
                            <a href="LikeMost/@i.Id">Like</a>
                        }
                    }
                </td>
            </tr>
        }
    </table>
</body>
</html>
